<div class="col-md-10 col-md-offset-1">
  <h1 class="text-center">START SAVING TODAY</h1>

  <p class="text-left justify p-top-20">
    We have several financing options available, some of which will allow you to enjoy the savings and benefits of FLOW without any initial payments.  Thereafter, depending upon average water and sewer bills, you should be able to make ongoing monthly payments from a portion of your monthly savings – making your FLOW purchase one of the best investments you'll ever make!
  </p>

  <p class="text-left justify p-top-20">
    The MSRP for FLOW is <%= ENV['FLOW_COST'] %>, which includes the cost of installation by certified FLOW technicians. If you have a Coupon Code, enter it upon Checkout and get as much as a $100 discount.
  </p>

  <p class="text-left justify p-top-20">
    Available payment options:
  </p>

  <div class="row p-top-10">
    <div class="col-md-6">
      <h4 class="text-center">No Down Payment & No Payments for 6 Months</h4>

      <p class="p-top-10">
        This program, offered through our affiliation with Paypal, will allow you to enjoy savings for six months without having to make any payments at all.  Thereafter, you can either pay it all at once, or make monthly payments of principal and interest as low as $10 per month.
      </p>

      <span style="color:black;font-size: 12px;">
        (Subject to Credit Approval)
      </span>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <h4 class="text-center">Pay with your Credit Card</h4>

      <p class="p-top-10">
        Pay in full using your Visa, MasterCard, American Express or your Paypal account, right at our Checkout page.
      </p>
    </div>
  </div>

  <h3 class="text-center p-top-20">
    Join thousands of your neighbors and save money with FLOW!
  </h3>

  <% if homepage? %>
    <div class="p-top-20 text-center">
      <%= link_to "Purchase Flow", page_path('checkout'), :class => "btn btn-blue", :id => "purchase-btn" %>
    </div>
  <% end %>
</div>
