<footer id="footer">
  <div class="container">
	  <div class="btm-footer col-md-12 text-center">
      <ul class="footer-links clearfix list-inline list-unstyled">
          <li>
              <%= link_to 'Privacy', page_path('privacy') %>
          </li>

          <li>
              <%= link_to 'Terms of Service', page_path('terms') %>
          </li>

          <li>
              <a href="mailto:gwaxman@precisionflowusa.com">Contact</a>
          </li>
          <li>
      </ul>

      <p class="p-top-10">
      	All Rights Reserved @2014 Fluid Dynamics LLC
      </p>

      <ul class="socials list-inline list-unstyled p-top-10">
        <li>
          <a class="about-social-icon gplus" href="#">
            <i class="fa fa-google-plus" style=""></i>
          </a>
        </li>

        <li>
          <a class="about-social-icon pinterest" href="#">
            <i class="fa fa-pinterest" style=""></i>
          </a>
        </li>

        <li>
          <a class="about-social-icon twitter" href="#">
            <i class="fa fa-twitter" style=""></i>
          </a>
        </li>

        <li>
          <a class="about-social-icon rss" href="#">
            <i class="fa fa-rss" style=""></i>
          </a>
        </li>

        <li>
          <a class="about-social-icon facebook" href="#">
            <i class="fa fa-facebook" style=""></i>
          </a>
        </li>
      </ul>
	  </div>
  </div>
</footer>