<div id="undefined-sticky-wrapper" class="sticky-wrapper is-sticky what-we-do">
  <div id="nav">
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="">
          	<%= image_tag 'Flow-logo1.png', :style => 'width:100px; margin-top: -5px;' %>
          </a>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="top-nav">
            <li class="active">
              <a href="#slides">Home</a>
            </li>

            <li>
              <a href="#our-product">Product</a>
            </li>

            <li>
              <a href="#clients2">Partners</a>
            </li>
            <li>
              <a href="#why">Why Flow</a>
            </li>
            <li>
              <a href="#process">Process</a>
            </li>
            <li>
              <a href="#about">About</a>
            </li>
            <li>
              <a href="#clients">Refer a Friend</a>
            </li>
          </ul>
          
          <a href="contact.php" class="btn btn-green navbar-btn pull-right external">Start Saving Today</a>
        </div>
      </div>
    </div>
  </div>
</div>