<header>
  <div id="undefined-sticky-wrapper" class="sticky-wrapper is-sticky what-we-do">
    <div id="nav">
      <div class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="<%= root_path %>">
              <%= image_tag 'Flow-logo1.png', :style => 'width:100px; margin-top: -5px;' %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>