<div class="popup justify" id="terms-p">
	<a class="b-close">x</a>

  <h1>TERMS OF SERVICE</h1>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean interdum sodales bibendum. Nunc non imperdiet libero. Proin mollis, ligula a euismod scelerisque, eros velit pellentesque purus, a malesuada mauris urna ac enim. Donec eget nisl dolor. Suspendisse eget metus nec justo vulputate iaculis. Donec quis tortor sed nisi pharetra vestibulum a vel lectus. Phasellus rhoncus turpis aliquam dui egestas scelerisque. Pellentesque tempus quis enim id tincidunt. Proin ac tortor suscipit, venenatis enim sit amet, sodales ipsum. Curabitur et purus eget mi pharetra ullamcorper.
	</p>

	<p>
		Curabitur egestas, tortor vel sollicitudin aliquet, quam sem venenatis arcu, ac blandit tortor lacus nec metus. Vivamus vel arcu condimentum, porttitor urna quis, ultrices turpis. Fusce ut egestas augue. Cras ornare lacinia facilisis. Duis iaculis neque in velit ultrices venenatis. Nullam posuere tincidunt auctor. Ut et tristique nunc. Donec eget aliquet mauris. Morbi mollis lobortis nulla, a faucibus sapien malesuada id. Aliquam pharetra nunc risus, quis dictum risus elementum nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas ornare accumsan congue. Integer scelerisque lobortis venenatis. Integer tristique ipsum eu elit tempor vulputate. In cursus nisi aliquet sapien rhoncus sollicitudin.
	</p>

	<p>
		Nullam eget risus convallis, semper leo a, scelerisque est. Morbi in augue ac nibh aliquet egestas vitae et lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eget nisi tristique justo semper malesuada. Morbi tristique convallis lectus et consequat. Nulla viverra augue quis adipiscing placerat. Morbi ut sem elit. Praesent lacinia iaculis accumsan. Donec vulputate at nulla vitae facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris scelerisque eros sodales purus fringilla rhoncus.
	</p>

	<p>
		Aenean ac felis vitae orci blandit iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer dapibus faucibus ultricies. Aliquam erat volutpat. Maecenas nulla ligula, consectetur eu massa sed, sagittis hendrerit justo. Sed condimentum metus sit amet arcu viverra tincidunt. Donec ultrices libero enim, vel fermentum dolor tristique ac. Duis tempor ante odio, ac ultrices arcu ultricies nec. Nulla tincidunt sit amet lorem eu tristique. Curabitur nec augue mollis, adipiscing mauris et, hendrerit lacus. Proin et ipsum at magna vehicula accumsan. Mauris risus enim, facilisis lobortis neque nec, faucibus molestie odio.
	</p>

	<p>
		Suspendisse ac feugiat tortor. Aenean eu rutrum justo. Mauris vel laoreet enim. Mauris felis lectus, luctus eget enim at, vehicula luctus metus. Morbi ac augue mauris. In dui erat, porttitor vel adipiscing a, rhoncus eu lectus. Cras in arcu magna. Morbi sodales tempus sem sed bibendum. Mauris non quam elementum, sodales sapien in, pretium orci. Integer risus risus, faucibus non condimentum a, ullamcorper eu justo. Donec quis ante ut elit gravida fringilla.
	</p>
</div>