<div class="container">
  <div class="row p-top-30">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>Purchase Flow Today!</h1>

      <p class="text-left justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam posuere fermentum urna, ac vestibulum quam sollicitudin vitae. In ut facilisis eros. Nunc at magna et enim aliquet consequat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec auctor sagittis leo, a pellentesque sapien iaculis quis. Morbi nisl lorem, faucibus et sem non, dictum consequat justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
      </p>

      <p class="text-left justify p-b-20">
        Fusce tellus felis, euismod vitae magna a, consequat scelerisque metus. Curabitur id vulputate tortor, id placerat tellus. Nam id tincidunt leo, ac iaculis nulla. Donec non purus vel magna scelerisque pellentesque ut in massa. Nullam id justo ac erat accumsan varius nec sed arcu. Pellentesque mattis pulvinar lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </p>
    </div>
  </div>

  <div class="row">
    <%= render 'forms/checkout' %>
  </div>

  <br><br>

  <div id="payflow-iframe">
  </div>
</div>