<div class="container">
  <h3>Payment Processing Error</h3>

  <p>
    We apologize, but has been an error with processing your payment.
  </p>

  <p>
    Navigate our <b>
      <a href="http://www.flowsaveusa.com/checkout">Checkout Page</a> 
    to try again. Please be sure to enter correct payment information.
  </p>

  <p>
    If you have any questions, please feel free to contact us at <strong><a href="mailto:support@FlowSaveUSA.com" target="_blank">support@FlowSaveUSA.com</a></strong> or by calling us at 844-TRY-FLOW (879-3569). Thank you!
  </p>
</div>
