<div id="slides">
  <ul class="slides-container">
      <li>
          <img src="images/IMG_3130.jpg" alt="">
          <div class="overlay-1"></div>
          <div class="slide-caption">
              <h6>Creative - Corporate - Software</h6>
              <h1>Kendo theme for
                  <span class="txt-rotate" data-period="2000" data-rotate='[ "creatives.", "corporates.", "personal.", "fun!" ]'></span>
              </h1>
              <div class="contrast">
                  <p>Pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra.</p>
                  <p>
                      <a class="btn btn-lg btn-green">Explore Theme</a>
                  </p>
              </div>
          </div>
      </li>
      <li>
          <img src="images/IMG_3130.jpg" alt="">
          <div class="overlay-1"></div>
          <div class="slide-caption animated faedInDownBig">
              <h6>Creative - Corporate - Software</h6>
              <h1>It's hardware accelerated.</h1>
              <p>Pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra.</p>
              <p>
                  <a class="btn btn-lg btn-green">Explore Theme</a>
              </p>
          </div>
      </li>
      <li>
          <img src="images/IMG_3130.jpg" alt="">
          <div class="overlay-1"></div>
          <div class="slide-caption-2">
              <h5>CREATED BY</h5>
              <h1>KENDO THEME</h1>
              <h2>CREATIVE</h2>
              <h6>OCTOBER 1.</h6>
          </div>
      </li>
  </ul>
  <nav class="slides-navigation">
      <a href="#" class="next">
          <i class="fa fa-angle-right"></i>
      </a>
      <a href="#" class="prev">
          <i class="fa fa-angle-left"></i>
      </a>
  </nav>
</div>
<!-- end:Content -->
<!-- Navigation -->
<div id="undefined-sticky-wrapper" class="sticky-wrapper is-sticky">
    <div id="nav">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <i class="fa fa-anchor"></i>KENDO</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" id="top-nav">
                        <li class="active">
                            <a href="#slides">Home</a>
                        </li>
                        <li>
                            <a href="#features">Services</a>
                        </li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li>
                            <a href="#projects">Portfolio</a>
                        </li>
                        <li>
                            <a href="#blog">Blog</a>
                        </li>
                        <li>
                            <a href="#cta-contact">Contact</a>
                        </li>
                    </ul>
                    <a href="contact.php" class="btn btn-green navbar-btn pull-right external">Get in touch</a>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- .nav-wrapper -->
</div>
<!-- end:Navigation -->
<!-- Content -->
<section class="service space">
    <div class="container">
        <div class="row">
            <div class="col-md-9 text-left">
                <h4 class="title-12">What We Do</h4>
                <h1>We provide super awesome digital service using just pure
                    <b>
                        <span class="f-green txt-rotate" data-period="4000" data-rotate='[ "love & passion.", "knowledge.", "artistic approach.", "love!" ]'></span>
                    </b>
                </h1>
                <p class="intro">Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people.</p>
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
        <div class="row p-top-50">
            <div class="col-md-4">
                <div class="service-box">
                    <figure>
                        <img src="images/ico-1.jpg" alt="">
                    </figure>
                    <h3>Bootstrap framework</h3>
                    <p>Well, the way they make shows is, they make one show. That show's called a pilot.</p>
                </div>
                <!-- end:Service-box -->
            </div>
            <!-- .col-4 -->
            <div class="col-md-4">
                <div class="service-box">
                    <figure>
                        <img src="images/ico-2.jpg" alt="">
                    </figure>
                    <h3>Corporate theme</h3>
                    <p>Well, the way they make shows is, they make one show. That show's called a pilot.</p>
                </div>
                <!-- end:Service-box -->
            </div>
            <!-- .col-4 -->
            <div class="col-md-4">
                <div class="service-box">
                    <figure>
                        <img src="images/ico-3.jpg" alt="">
                    </figure>
                    <h3>For creatives</h3>
                    <p>Well, the way they make shows is, they make one show. That show's called a pilot.</p>
                </div>
                <!-- end:Service-box -->
            </div>
            <!-- .col-4 -->
        </div>
        <!-- .row -->
    </div>
    <!-- end:Container -->
</section>
<!-- end:Service -->
<section class="space" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4 class="title">The Full Services</h4>
                <h1>Display Your Service List</h1>
                <p class="lead">Have an expert stylist shop for you. They'll email you outfits.</p>
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
        <div class="row  p-top-50">
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTop" data-slide-out="fade">
                    <div class="et-page et-page-opacity features-box et-page-current">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page et-page-dark features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTop" data-slide-out="fade">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Click To Reveal Content</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page et-page-dark features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTopFade" data-slide-out="moveToRightFade">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bell-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page  features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
        </div>
        <!-- .row -->
        <div class="row  p-top-20">
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTop" data-slide-out="fade">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page  features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromBottom ontop" data-slide-out="scaleDown">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bookmark-o"></i>
                        <h3>Click To Reveal Content</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page  features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
            <div class="col-md-4 col-sm-4">
                <article class="et-wrapper et-rotate" data-slide-in="moveFromTopFade" data-slide-out="moveToRightFade">
                    <div class="et-page features-box et-page-current">
                        <i class="fa fa-bell-o"></i>
                        <h3>Click This Box</h3>
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                    </div>
                    <div class="et-page  features-box">
                        <p>Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense!</p>
                        <p>
                            <a href="#" class="btn btn-green">View More</a>
                        </p>
                    </div>
                </article>
            </div>
            <!-- .col-4 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .end:Container -->
</section>
<!-- end:features section -->
<!-- start:About -->
<section id="about" class="space p-btm-0">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h3 class="title-12">ABOUT US</h3>
                <h1>The
                    <span class="f-800 f-green">Kendo</span>Full Story</h1>
                <p>Kendo Theme is a Have an expert stylist shop for you. They'll email you outfits and items that look amazing on you, completely free.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
            <!-- .col 10 -->
        </div>
        <!-- /.row -->
        <div class="row text-center">
            <div class="col-md-12">
                <ul class="stats-info list-unstyled list-inline">
                    <li>
                        <h2>7 Years</h2>
                        <p>Since We Started</p>
                    </li>
                    <li>
                        <h2>1,580+</h2>
                        <p>Happy Customers</p>
                    </li>
                    <li>
                        <h2>8 000 0...</h2>
                        <p>Lines of Code</p>
                    </li>
                    <li>
                        <h2>1500</h2>
                        <p>Hard Working Folks</p>
                    </li>
                </ul>
                <!-- end:Stast-Info -->
            </div>
            <!-- .col-12 -->
        </div>
        <!-- /.row -->
        <div class="row text-center">
            <div class="col-md-10 col-md-offset-1">
                <div class="team-image">
                    <img class="tagged img-responsive" src="http://lorempixel.com/1000/500/people" alt="photo">
                    <div class="spot spot-1">
                        <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                    <div class="spot spot-2">
                        <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                    <div class="spot spot-3">
                        <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                    <div class="spot spot-4">
                        <a href="#teamModal" data-toggle="modal" data-target="#teamModal">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                </div>
                <!-- end:team image -->
            </div>
            <!-- .col-10 -->
            <!-- start:Team Modal -->
            <!-- Modal -->
            <div class="modal animated fadeIn" id="teamModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="content-box text-center">
                                <div class="content-box-image maurice-image"></div>
                                <div class="team">
                                    <div class="member">
                                        <img src="images/welcome.png" alt="" class="img-circle img-responsive">
                                    </div>
                                </div>
                                <h3>
                                    <a href="#">Pamukovich A.</a>
                                </h3>
                                <h5>Founder &amp; CO</h5>
                                <p>Creative Principal, 3eighteen media
                                    <br>Formerly: Black Weblog Awards, AT&amp;T, WebMD
                                    <br>
                                    <br>Also Relate Media Group, VirtualStudent.net, CollegeClub.com.
                                    <br>
                                    <br>
                                    <a href="#">mauricecherry.com</a>
                                    <a href="#">@mauricecherry</a>
                                </p>
                            </div>
                        </div>
                        <!-- .end:Modal body -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- end:Team Modal -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- end:About -->
<section class="space" id="quote">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p>
                    <span class="glyphicon glyphicon-send"></span>
                </p>
                <p class="lead">
                    <i>Lets work together and create something awesome</i>
                </p>
                <p>
                    <a href="contact.php" class="btn btn-lg btn-green">Get a Free Quote</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- START WORKS SECTION -->
<section id="projects" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-9 text-left">
                <h4 class="title-12">Our Work</h4>
                <h1>We work with some of the leaders in the industries like
                    <b>
                        <span class="f-green txt-rotate" data-period="4000" data-rotate="[ &quot;apple &amp; bmw.&quot;, &quot;mercedes.&quot;, &quot;webmonkeys.&quot;, &quot;apple!&quot; ]"></span>
                    </b>
                </h1>
                <p class="intro">Have an expert stylist shop for you. They'll email you outfits and items that look amazing on you, completely free.</p>
            </div>
            <!-- .col-12 -->
        </div>
        <div class="row">
            <div id="w" class="col-md-12">
                <div id="options">
                    <ul id="filters" class="option-set">
                        <li>
                            <a href="#" data-filter="*" class="selected">All</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".creative">Creative</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".web">Web</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".mobile">Mobile</a>
                        </li>
                        <li>
                            <a href="#" data-filter=".ux">UX</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="container" class="row">
            <article class="col-md-4 col-sm-4 item element creative web">
                <figure>
                    <a href="images/work/1.jpg" data-rel="lightbox" title="Beautiful, isn't it">
                        <img src="images/work/1.jpg" alt="" class="img-responsive greyscale">
                    </a>
                </figure>
                <div class="arrow_box">
                    <p class="meta">
                        <a href="#" rel="category">Portfolio</a>
                    </p>
                    <h4>Passepartout went timidly</h4>
                    <p class="p-tags">Web Design,php</p>
                </div>
                <!-- .arrow-box -->
            </article>
            <!-- end:Item -->
            <article class="col-md-4 col-sm-4 item element creative ux">
                <figure>
                    <a href="images/work/2.jpg" data-rel="lightbox" title="Beautiful, isn't it">
                        <img src="images/work/2.jpg" alt="" class="img-responsive greyscale">
                    </a>
                </figure>
                <div class="arrow_box">
                    <p class="meta">
                        <a href="#" rel="category">Portfolio</a>
                    </p>
                    <h4>Passepartout went timidly</h4>
                    <p class="p-tags">Web Design,php</p>
                </div>
                <!-- .arrow-box -->
            </article>
            <!-- end:Item -->
            <article class="col-md-4 col-sm-4 item ux mobile creative web">
                <figure>
                    <a href="images/work/3.jpg" data-rel="lightbox" title="Beautiful, isn't it">
                        <img src="images/work/3.jpg" alt="" class="img-responsive greyscale">
                    </a>
                </figure>
                <div class="arrow_box">
                    <p class="meta">
                        <a href="#" rel="category">Portfolio</a>
                    </p>
                    <h4>Passepartout went timidly</h4>
                    <p class="p-tags">HTML 5,CSS 3</p>
                </div>
                <!-- .arrow-box -->
            </article>
            <!-- end:Item -->
            <article class="col-md-4 col-sm-4 item element creative ux">
                <figure>
                    <a href="images/work/4.jpg" data-rel="lightbox" title="Beautiful, isn't it">
                        <img src="images/work/4.jpg" alt="" class="img-responsive greyscale">
                    </a>
                </figure>
                <div class="arrow_box">
                    <p class="meta">
                        <a href="#" rel="category">Portfolio</a>
                    </p>
                    <h4>Passepartout went timidly</h4>
                    <p class="p-tags">Photoshop,Development</p>
                </div>
                <!-- .arrow-box -->
            </article>
            <!-- end:Item -->
            <article class="col-md-4 col-sm-4 item element mobile ux web">
                <figure>
                    <a href="images/work/5.jpg" data-rel="lightbox" title="Beautiful, isn't it">
                        <img src="images/work/5.jpg" alt="" class="img-responsive greyscale">
                    </a>
                </figure>
                <div class="arrow_box">
                    <p class="meta">
                        <a href="#" rel="category">Portfolio</a>
                    </p>
                    <h4>Passepartout went timidly</h4>
                    <p class="p-tags">HTML 5,CSS 3</p>
                </div>
                <!-- .arrow-box -->
            </article>
            <!-- end:Item -->
            <article class="item col-md-4 col-sm-4  element creative ux">
                <figure>
                    <a href="images/work/6.jpg" data-rel="lightbox" title="Beautiful, isn't it">
                        <img src="images/work/6.jpg" alt="" class="img-responsive greyscale">
                    </a>
                </figure>
                <div class="arrow_box">
                    <p class="meta">
                        <a href="#" rel="category">Portfolio</a>
                    </p>
                    <h4>Passepartout went timidly</h4>
                    <p class="p-tags">Photography,Web Design</p>
                </div>
                <!-- .arrow-box -->
            </article>
            <!-- end:Item -->
        </div>
    </div>
</section>
<!-- END WORKS SECTION -->
<section id="clients" class="space">
    <div class="container">
        <div class="row text-center">
            <h3 class="f-white">People We Work With</h3>
            <ul class="clients list-inline list-unstyled col-md-10 col-md-offset-1">
                <li>
                    <img src="images/logo1.png" alt="">
                </li>
                <li>
                    <img src="images/logo2.png" alt="">
                </li>
                <li>
                    <img src="images/logo3.png" alt="">
                </li>
                <li>
                    <img src="images/logo4.png" alt="">
                </li>
            </ul>
        </div>
    </div>
</section>
<section id="blog" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <article class="blog-item">
                    <div class="post-media">
                        <a href="#">
                            <img src="http://lorempixel.com/600/400/nature" alt="" class="img-responsive">
                        </a>
                    </div>
                    <!-- end:Post date -->
                    <div class="post-date">
                        <ul>
                            <li class="date">
                                <span class="month">October</span>
                                <span class="day">11</span>
                                <span class="year">2013</span>
                            </li>
                            <li class="comments">
                                <a href="#">
                                    <span>9</span>comments</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end:Post date -->
                    <div class="post-title">
                        <h2 class="title">
                            <a href="blog.html">Omnis iste natus sit accusantium.</a>
                        </h2>
                    </div>
                    <!-- end:Post Title -->
                    <div class="post-meta">
                        <ul>
                            <li>
                                <span>Posted by
                                    <a href="#">Kendo Theme</a>
                                </span>
                            </li>
                            <li>
                                <span>in
                                    <a href="#">twitter</a>,
                                    <a href="#">html/css</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- end:Post Meta -->
                    <div class="post-entry">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra. Phasellus blandit mattis ipsum, ac laoreet lorem lacinia et. Cras et ligula libero. Quisque quis…</p>
                        <p>
                            <a href="blog.html" class="btn btn-green btn-sm">Continue reading</a>
                        </p>
                    </div>
                    <!-- end:Post Entry -->
                </article>
                <hr>
                <article class="blog-item">
                    <div class="post-date">
                        <ul>
                            <li class="date">
                                <span class="month">October</span>
                                <span class="day">11</span>
                                <span class="year">2013</span>
                            </li>
                            <li class="comments">
                                <a href="#">
                                    <span>9</span>comments</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end:Post date -->
                    <div class="post-title">
                        <h2 class="title">
                            <a href="blog.html">Aliquam enim enim, pharetra in sodales at, interdum sit amet dui. Nullam vulputate euismod urna non pharetra.</a>
                        </h2>
                    </div>
                    <!-- end:Post Title -->
                    <div class="post-meta">
                        <ul>
                            <li>
                                <span>Posted by
                                    <a href="#">Kendo Theme</a>
                                </span>
                            </li>
                            <li>
                                <span>in
                                    <a href="#">google</a>,
                                    <a href="#">jquery</a>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <!-- end:Post Meta -->
                    <div class="post-entry">
                        <p>
                            <a href="blog.html" class="btn btn-green btn-sm">Continue reading</a>
                        </p>
                    </div>
                    <!-- end:Post Entry -->
                </article>
            </div>
            <!-- end: col-6 -->
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-12">
                        <article class="blog-item">
                            <div class="post-media">
                                <a href="#">
                                    <img src="http://lorempixel.com/600/250/nature" alt="" class="img-responsive">
                                </a>
                            </div>
                            <!-- end:Post Media -->
                            <div class="post-date">
                                <ul>
                                    <li class="date">
                                        <span class="month">October</span>
                                        <span class="day">11</span>
                                        <span class="year">2013</span>
                                    </li>
                                    <li class="comments">
                                        <a href="#">
                                            <span>9</span>comments</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end:Post date -->
                            <div class="post-title">
                                <h2 class="title">
                                    <a href="blog.html">Nasit accusantium.</a>
                                </h2>
                            </div>
                            <!-- end:Post Title -->
                            <div class="post-meta">
                                <ul>
                                    <li>
                                        <span>Posted by
                                            <a href="#">Kendo Theme</a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>in
                                            <a href="#">jQuery</a>,
                                            <a href="#">jquery</a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end:Post Meta -->
                            <div class="post-entry">
                                <p>
                                    <a href="blog.html" class="btn btn-green btn-sm">Continue reading</a>
                                </p>
                            </div>
                            <!-- end:Post Entry -->
                        </article>
                    </div>
                    <!-- end: col-12 -->
                    <hr>
                    <div class="col-md-12 col-sm-12">
                        <article class="blog-item">
                            <div class="post-media">
                                <a href="#">
                                    <img src="http://lorempixel.com/600/250/nature" alt="" class="img-responsive">
                                </a>
                            </div>
                            <!-- end:Post Media -->
                            <div class="post-date">
                                <ul>
                                    <li class="date">
                                        <span class="month">October</span>
                                        <span class="day">11</span>
                                        <span class="year">2013</span>
                                    </li>
                                    <li class="comments">
                                        <a href="#">
                                            <span>9</span>comments</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end:Post date -->
                            <div class="post-title">
                                <h2 class="title">
                                    <a href="blog.html">Nasit accusantium.</a>
                                </h2>
                            </div>
                            <!-- end:Post Title -->
                            <div class="post-meta">
                                <ul>
                                    <li>
                                        <span>Posted by
                                            <a href="#">Kendo Theme</a>
                                        </span>
                                    </li>
                                    <li>
                                        <span>in
                                            <a href="#">jQuery</a>,
                                            <a href="#">jquery</a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <!-- end:Post Meta -->
                            <div class="post-entry">
                                <p>
                                    <a href="blog.html" class="btn btn-green btn-sm">Continue reading</a>
                                </p>
                            </div>
                            <!-- end:Post Entry -->
                        </article>
                    </div>
                    <!-- end: col-12 -->
                </div>
                <!-- end:rigth row -->
            </div>
            <!-- end:Right col6 -->
        </div>
    </div>
</section>
<section id="cta-contact" class="space">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1 class="f-white">Work with us</h1>
                <p>We are a full service design agency from the heart of London. We create perfect brands, vibrant identities, outstanding websites and creative concepts.</p>
                <p>
                    <a href="contact.php" class="btn btn-green btn-lg">Get in touch with us</a>
                </p>
            </div>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="container">
        <div class="row br-btm">
            <div class="footer-wrap clearfix text-center">
                <div class="col-md-4">
                    <span>
                        <i class="fa fa-map-marker"></i>
                    </span>
                    <address>
                        <strong>Kendo, Inc.</strong>
                        <br>795 Folsom Ave, Suite 600
                        <br>LA, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr>(123) 456-7890</address>
                </div>
                <!-- col-4 -->
                <div class="col-md-4">
                    <span>
                        <i class="fa fa-map-marker"></i>
                    </span>
                    <address>
                        <strong>Kendo, Inc.</strong>
                        <br>795 Folsom Ave, Suite 600
                        <br>Sarajevo, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr>(123) 456-7890</address>
                </div>
                <div class="col-md-4">
                    <span>
                        <i class="fa fa-map-marker"></i>
                    </span>
                    <address>
                        <strong>Kendo, Inc.</strong>
                        <br>795 Folsom Ave, Suite 600
                        <br>San Francisco, CA 94107
                        <br>
                        <abbr title="Phone">P:</abbr>(123) 456-7890</address>
                </div>
            </div>
        </div>
        <!-- .row -->
        <div class="btm-footer col-md-12 text-center">
            <ul class="footer-links clearfix list-inline list-unstyled">
                <li>
                    <a href="about.html#rewards" class="external">Buy App</a>
                </li>
                <li>
                    <a href="blog.html">Blog</a>
                </li>
                <li>
                    <a href="about.html">About us</a>
                </li>
                <li>
                    <a href="about.html">Privacy</a>
                </li>
                <li>
                    <a href="contact-form.html">Contact</a>
                </li>
                <li>
                    <a href="blog.html">Updates</a>
                </li>
                <li>
                    <a href="about.html">Feedbacks</a>
                </li>
            </ul>
            <p class="p-top-10">All Rights Reserved @2013 Pamukovic</p>
            <ul class="socials list-inline list-unstyled p-top-10">
                <li>
                    <a class="about-social-icon gplus" href="#">
                        <i class="fa fa-google-plus" style=""></i>
                    </a>
                </li>
                <li>
                    <a class="about-social-icon pinterest" href="#">
                        <i class="fa fa-pinterest" style=""></i>
                    </a>
                </li>
                <li>
                    <a class="about-social-icon twitter" href="#">
                        <i class="fa fa-twitter" style=""></i>
                    </a>
                </li>
                <li>
                    <a class="about-social-icon rss" href="#">
                        <i class="fa fa-rss" style=""></i>
                    </a>
                </li>
                <li>
                    <a class="about-social-icon facebook" href="#">
                        <i class="fa fa-facebook" style=""></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>