<p>
  Thank you for your order with FLOW USA. You will be receiving an email from PayPal with your order information. Please retain this email as confirmation of your purchase.
</p>

<p>
  We know you are anxious to start saving water and money as soon as possible, and we generally schedule your FLOW installation within two weeks of order – very often within a week. You will be contacted two business days before the installation. It is NOT necessary for you to be home during the installation.
</p>

<p>
  There will be more detailed information and instructions when we confirm the installation date. If you have any questions, please feel free to contact us at <strong><a href="mailto:support@FlowSaveUSA.com" target="_blank">support@FlowSaveUSA.com</a></strong> or by calling us at 844-TRY-FLOW (879-3569).
</p>