<div class="container">
  <div class="row p-top-30">
    
    <p>
      The warranties provided by <strong>Flow USA, LLC. </strong>(“Company“) in this Statement of Product Limited Warranty apply only to Products you purchase for your use, and not for resale. The term “Product” means a Company-branded product, its features, conversions, upgrades, elements, or accessories, or any
      combination of them. The term “Product” does not include any products, elements, hardware, fasteners, clamps, or accessories, generally, used by a license
      professional installer or layperson in order to install the product for normal use. NOTHING IN THIS STATEMENT OF PRODUCT LIMITED WARRANTY AFFECTS ANY STATUTORY RIGHTS OF CONSUMERS THAT CANNOT BE WAIVED OR LIMITED BY CONTRACT.
    </p>

    <p>
      <strong>I) </strong>
      <strong>PRODUCT WARRANTY COVERAGE</strong>
    </p>

    <p>
      <strong>1) </strong>
      <strong>Warranty Coverage</strong>
    </p>

    <p>
      The Company warrants to the original purchaser that the Products will be free from defects in materials and workmanship for 10 years from the original Date
      of Installation (“Warranty Period“).During the Warranty Period, the Company will, at its option: (1) provide and install replacement parts necessary to
      repair the Product, (2) replace the Product with a comparable product, or (3) refund the amount paid by you for the Product, LESS DEPRECIATION. Any
      replacement parts or Product will be new or serviceably used, comparable in function and performance to the original part or Product, and warranted for the remainder of the Warranty Period.
    </p>

    <p>
      <strong>2) </strong>
      <strong>Exclusions from Warranty Coverage</strong>
    </p>

    <p>
      This limited warranty covers normal use of the Products and the Company does not warrant and is not responsible for:
    </p>

    <p>
      a) Damage caused by failure to provide a suitable operating environment for the Product.
    </p>

    <p>
      b) Damage caused by a utility providers or a disaster such as fire, flood, wind, earthquake, or lightning;
    </p>

    <p>
      c) Damage caused by unauthorized attachments, alterations, modifications or foreign objects;
    </p>

    <p>
      d) Damage caused by the use of the product or accessories for purposes other than those for which they are customarily used;
    </p>

    <p>
      e) Damage from improper maintenance;
    </p>

    <p>
      f) Damage caused by any other abuse, misuse, mishandling, or misapplication; or
    </p>

    <p>
      g) Accessories or other products or services of companies other than the Company.
    </p>

    <p>
      <strong>II) </strong>
      <strong>PERFORMANCE WARRANTY COVERAGE</strong>
    </p>

    <p>
      <strong>1) </strong>
      <strong>Warranty Coverage</strong>
    </p>

    <p>
      In absence of defect or other cause leading to a warranty claim under Section I, the Company hereby warrants that the product shall produce a minimum
      average monthly consumption savings in gallons or CCF of fifteen percent (15%) upon verification of a) audit of historical water usage, evidenced by water
      bills, for no less than twelve (12) months prior to the warranty claim. ; and b) a full inspection by a licensed plumber in the jurisdiction of the
      installation which confirms that lack of total savings is not due to leaks or excessive water use after installation due to external forces or actions,
      either natural or manmade.
    </p>

    <p>
      <strong>III) </strong>
      <strong>LIMITATIONS OF WARRANTY</strong>
    </p>

    <p>
      1) THIS LIMITED WARRANTY IS THE ONLY WARRANTY APPLICABLE TO THE PRODUCT AND REPLACES ALL OTHER WARRANTIES OR CONDITIONS, EXPRESS OR IMPLIED, INCLUDING, BUT
      NOT LIMITED TO, THE IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. SPECIFICALLY, EXCEPT AS PROVIDED HEREIN, THE
      COMPANY UNDERTAKES NO RESPONSIBILITY FOR THE QUALITY OF THE PRODUCT OR THAT THE PRODUCT WILL BE FIT FOR ANY PARTICULAR PURPOSE FOR WHICH YOU MAY BE BUYING
      THE PRODUCT. ANY IMPLIED WARRANTY IS LIMITED IN DURATION TO THE WARRANTY PERIOD. NO ORAL OR WRITTEN INFORMATION, OR ADVICE GIVEN BY THE COMPANY, ITS AGENTS
      OR EMPLOYEES, SHALL CREATE A WARRANTY OR IN ANY WAY INCREASE THE SCOPE OF THIS LIMITED WARRANTY.
    </p>

    <p>
      2) THE COMPANY DISCLAIMS ANY WARRANTIES OF NON-INFRINGEMENT WITH RESPECT TO THE PRODUCT AND NONE OF THE COMPANY OR ANY COMPANY AFFILIATE SHALL HAVE ANY
      DUTY TO DEFEND, INDEMNIFY, OR HOLD HARMLESS YOU FROM AND AGAINST ANY OR ALL DAMAGES OR COSTS INCURRED BY YOU ARISING FROM THE INFRINGEMENT OF PATENTS OR
      TRADEMARKS OR VIOLATION OF COPYRIGHTS BY ANY OF THE PRODUCTS.
    </p>

    <p>
      3) THIS LIMITED WARRANTY IS NOT TRANSFERABLE.
    </p>

    <p>
      4) IN NO EVENT SHALL THE COMPANY (INCLUDING ITS SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS OR SUBCONTRACTORS, ALL OF WHICH ARE
      REFERRED TO HEREIN COLLECTIVELY AS THE “COMPANY AFFILIATES“) BE LIABLE UNDER ANY CIRCUMSTANCE TO YOU OR ANY OTHER PARTY FOR ANY SPECIAL, CONSEQUENTIAL,
      INCIDENTAL OR EXEMPLARY DAMAGES ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE PRODUCTS OR OTHERWISE, INCLUDING BUT NOT LIMITED TO DAMAGES FOR LOST
      PROFITS, LOSS OF THE GOODS OR ANY ASSOCIATED EQUIPMENT, COST OF CAPITAL, COST OF SUBSTITUTE OR REPLACEMENT EQUIPMENT, FACILITIES OR SERVICES, DOWN TIME,
      YOUR TIME, LOST DATA, INJURY TO PROPERTY OR ANY DAMAGES OR SUMS PAID BY YOU TO THIRD PARTIES, EVEN IF THE COMPANY OR ANY OF THE COMPANY AFFILIATES HAS BEEN
      ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY WHETHER ANY CLAIM IS BASED UPON PRINCIPLES OF CONTRACT,
      WARRANTY, NEGLIGENCE, OR OTHER TORT, BREACH OF ANY STATUTORY DUTY, PRINCIPLES OF INDEMNITY OR CONTRIBUTION, THE FAILURE OF ANY LIMITED OR EXCLUSIVE REMEDY
      TO ACHIEVE ITS ESSENTIAL PURPOSE, OR OTHERWISE.
    </p>

    <p>
      5) IN NO EVENT SHALL THE COMPANY OR ANY COMPANY AFFILIATE BE LIABLE TO YOU OR ANY OTHER PARTY FOR LOSS, DAMAGE, OR INJURY OF ANY KIND OR NATURE ARISING OUT
      OF OR IN CONNECTION WITH THESE TERMS AND CONDITIONS IN EXCESS OF THE NET PURCHASE PRICE OF THE PRODUCT ACTUALLY DELIVERED TO AND PAID FOR BY YOU HEREUNDER.
      YOUR SOLE REMEDY AGAINST THEM IN ANY DISPUTE UNDER THIS AGREEMENT SHALL BE TO SEEK RECOVERY OF THE AMOUNTS YOU HAVE PAID, PURSUANT TO SECTION 5, UPON THE
      PAYMENT OF WHICH THEY SHALL BE RELEASED FROM AND DISCHARGED OF ALL FURTHER OBLIGATIONS AND LIABILITY TO YOU.
    </p>

    <p>
      <strong>IV) </strong>
      <strong>OBTAINING WARRANTY SERVICE</strong>
    </p>

    <p>
      1) In order to obtain service under this limited warranty, you must contact the Company's technical support personnel. You may contact the Company's
      technical support personnel via a variety of online, telephone, and other methods to diagnose Product issues. In order to determine if the Product is
      defective, Company may require inspection by a licensed plumber licensed in the jurisdiction of installation.
    </p>

    <p>
      2) If the Company determines that a Product or one of its parts is defective, the Company may authorize the replacement of a part or the Product at the
      Company’s expense. The Company's technical support personnel will work to resolve issues professionally and quickly. However, you must reasonably assist
      the Company in providing technical support services, including, but not limited to, allowing a licensed professional plumber, licensed in the jurisdiction
      of the installation, to inspect the installation, enter the property for purposes of diagnosing potential defects.
    </p>

    <p>
      3) If the warranty claim is based upon the Company’s Performance Warranty, the Company shall require the following:
    </p>

    <p>
      a) Original Purchaser must provide water usage records from the utility providing water services from the date of the warranty claim to the twelve (12) months prior to installation;
    </p>

    <p>
      b) Original Purchaser must provide a licensed professional plumber licensed in the jurisdiction of the installation to perform an examination of the property, and all connections, fixtures, and accessories connected to the water lines.
    </p>

    <p>
      4) Upon Company’s determination, based upon the Company’s audit of the historic billing records and the inspection of the licensed professional plumber, as
      stated above, the Company may elect to replace the Product at Company’s expense, IF, the Product has been installed for less than twelve (12) months. If
      during the twelve (12) months after the installation of a replacement Product, performance thresholds still have not been met, the Company shall reimburse
      the Original Purchaser the full purchase price, less the value of any gift cards, rebates, or other purchasing incentives received at the time of Purchase.
      FAILURE TO MAKE A CLAIM OF PERFORMANCE WARRANTY WITHIN TWELVE (12) MONTHS OF INITIAL INSTALLATION OR WITHIN TWELVE (12) MONTHS OF THE INSTALLATION OF A
      REPLACEMENT PRODUCT INSTALLED UNDER A CLAIM OF PERFORMANCE WARRANTY, WHICHEVER IS LONGER, SHALL BE DEEMED A WAIVER OF CLAIM AGAINST THE PERFORMANCE
        WARRANTY.
    </p>

    <p>
      <strong>V) </strong>
      <strong>DISPUTE RESOLUTION</strong>
    </p>

    <p>
      1) You agree that any dispute between you and the Company will be resolved exclusively and finally by arbitration administered by the American Arbitration
      Association (“AAA“) and conducted under its rules, except as otherwise provided below. The arbitration will be conducted before a single arbitrator, and
      will be limited solely to the dispute between you and the Company. The arbitration shall be held at any reasonable location near the Company’s place of
      business by submission of documents, by telephone, online or in person. Any decision rendered in such arbitration proceedings will be final and binding on
      each of the parties, and judgment may be entered thereon in any court of competent jurisdiction. Should either party bring a dispute in a forum other than
      AAA, the arbitrator may award the other party its reasonable costs and expenses, including attorney fees and disbursements incurred in staying or
      dismissing such other proceedings or in otherwise enforcing compliance with this dispute resolution provision.
    </p>

    <p>
      2) YOU UNDERSTAND THAT YOU WOULD HAVE HAD A RIGHT TO LITIGATE DISPUTES THROUGH A COURT, AND THAT YOU HAVE EXPRESSLY AND KNOWINGLY WAIVED THAT RIGHT AND AGREED TO RESOLVE ANY DISPUTES THROUGH BINDING ARBITRATION.
    </p>

    <p>
      3) This arbitration agreement is made pursuant to a transaction involving interstate commerce, and shall be governed by the Federal Arbitration Act 9 U.S.C. §§ 1 et seq.
    </p>

    <p>
      4) For the purposes of this section, the term “dispute“ means any dispute, controversy, or claim arising out of or relating to: (1) this Agreement, its
      interpretation, or the breach, termination, applicability or validity thereof, or (2) the purchase or use of any Product, , service or otherwise from the
      Company; the term “Company“ means the Company, its subsidiaries, affiliates, directors, officers, employees, beneficiaries, agents or assigns; the term
      “you“ means you, the original purchaser, your agents, beneficiaries, or heirs.
    </p>

    <p>
      <strong>VI) </strong>
      <strong>GOVERNING LAW</strong>
    </p>

    <p>
      1) Both you and the Company consent to the application of the laws of the State of Florida to govern, interpret, and enforce all of your and the Company's
      rights, duties, and obligations arising from, or relating in any manner to, the subject matter of this Statement of Product Limited Warranty, without regard to conflict of law principles.
    </p>

    <p>
      2) THIS LIMITED WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS, AND YOU MAY ALSO HAVE OTHER RIGHTS THAT VARY FROM STATE TO STATE. SOME STATES DO NOT ALLOW
      LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS OR THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU.
    </p>

    <p>
      <strong>VII) </strong>
      <strong>CONTACT INFORMATION</strong>
    </p>

    <p>
      Any questions about this Statement of Product Limited Warranty, including the procedures for obtaining warranty service, should be directed to the Company at:
    </p>

    <p>
      By Telephone: <strong>844-Try-Flow (879-3569)</strong>
    </p>

    <p>
      By Internet: <strong>Support@flowsaveusa.com</strong>
    </p>

    <p>
      By Mail: <strong>Flow USA, LLC</strong>
    </p>

    <p>
      <strong> 1779 N. Congress Ave., Suite 211</strong>
    </p>

    <p>
      <strong> Boynton Beach, FL 33426</strong>
    </p>
  </div>
</div>