# Secret Token for Session Persistence
SECRET_KEY_BASE:   "Your Secret Token"

# Database Credentials
DB_ADAPTER:   postgresql
ENCODING:     utf8
MIN_MESSAGES: warning
POOL:         5
TIMEOUT:      5000

DEV_DB:       Dev_DB_Name
TST_DB:       Tst_DB_Name
PRD_DB:       Prd_DB_Name

APP_NAME:       AppName
APP_REPO:       GitHub Repo Address
APP_SERVER_IP:  NNN.NNN.NNN.NNN
SERVER_IP:      XXXXX
SERVER_USER:    XXXXX
SERVER_PASS:    XXXXX

# Paypal Credentials
PAYPAL_ENDPOINT:  Test or Production Endpoint

PAYPAL_PARTNER:   Paypal Partner
PAYPAL_VENDOR:    Vendor Username
PAYPAL_PASSWORD:  Vender Password

# Flow Specifics
FLOW_COST:     Cost of each FLOW Unit
FLOW_DISCOUNT: Discount Cost of each FLOW Unit
FLOW_REGEX:    RegEx for Coupon Code
FLOW_COUPON_REGEX: RegEx for Coupon Code
FLOW_ZIP_REGEX:    RegEx for Zip Code Inclusion
