<section class="space process-space p-btm-50" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3 class="title-12">Who We Are</h3>

        <p>
        	Flow is a Miami, FL based company that combines years of top engineering research with veteran real estate and Fortune 500 business execs.  Before Flow, the team's engineers previously worked on projects for the FBI, Teva Pharmaceuticals, Embraer, and Johnson and Johnson.  Research and prototypes were developed from 20__, and the company was founded in 2012.  FLOW is actually the eighth-generation model of our unique and patented design.  Our executive team includes Ted Weise [link to bio], Ron Ponder [link to bio] and Kenneth Patton [link to bio].
        </p>

        <p>
          We manufacture our system from L 316 Stainless Steel material to meet the highest material and production standards, in our state-of-the-art automated ISO 9001 manufacturing facility in Miami, Florida.
        </p>

        <div>
          <figure>
            <img src="http://placehold.it/200x150&text=ISO+Image" />
          </figure>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12">
        <ul class="stats-info list-unstyled list-inline">
          <li>
            <h2>2 Years</h2>
            <p>Since We Started</p>
          </li>

          <li>
            <h2>2,500,000+</h2>
            <p>Gallons Saved</p>
          </li>

          <li>
            <h2>$4,000,000+</h2>
            <p>Dollars Saved</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="row text-center">
      <img src="http://placehold.it/500x50&text=JavaScript+Counters" />
    </div>
  </div>
</section>