<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3 class="title-12" id="about-title">ABOUT US</h3>

        <h1>Our
          <span class="f-800 f-blue"></span>
          History
        </h1>

        <p class="p-top-30">
          Flow is a Florida based company that combines years of top engineering research with veteran business leaders and Fortune 500 business executives. Before joining FLOW USA, the team's engineers previously worked on projects for the FBI, Teva Pharmaceuticals, Embraer, and Johnson and Johnson.  Research and prototypes of the FLOW device were developed from 2010, and the company was founded in 2012. FLOW is actually the eighth-generation model of our unique and patented design. Our executive team includes Ted Weise [link to bio], Ron Ponder [link to bio] and Kenneth Patton [link to bio].
        </p>
        <p class="p-top-30">
          We manufacture our system in our state-of-the-art automated ISO 9001 manufacturing facility in Miami, Florida, using L 316 Stainless Steel to meet the highest material and production standards available.
        </p>
      </div>
    </div>

    <div class="row">
      <div class=" col-md-2 col-md-offset-5 text-center">
        <figure>
          <%= image_tag 'ISO9001.jpg', :style => "width: 100%;" %>
        </figure>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12 p-left-30" id="stats">
        <ul class="stats-info list-unstyled list-inline">
          <li>
            <h2 class="f-brown">2 Years</h2>
            <p>Since We Started</p>
          </li>
          <li>
            <h2 class="f-blue" id="gallons-saved"></h2>
            <p>Gallons Saved</p>
          </li>
           <li>
            <h2 class="f-green" id="dollars-saved"></h2>
            <p>Dollars Saved</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>