<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h3 class="title-12" id="about-title">ABOUT US</h3>

        <h1>Our
          <span class="f-800 f-blue"></span>
          History
        </h1>

        <p class="p-top-30">
          Flow USA is a Florida based company that combines years of top engineering research with veteran business leaders, including <strong><a href="https://www.scps.nyu.edu/about/newsroom/news/2011/d_kenneth_patton_for.html" target="_blank">Kenneth Patton</a></strong>, <strong><a href="http://en.wikipedia.org/wiki/Robert_K._Watson" target="_blank">Robert K. Watson</a></strong>, and top Fortune 100 executives from companies like Federal Express and AT&T. Before joining Flow USA, the team's engineers had previously worked on projects for the FBI, Teva Pharmaceuticals, Embraer, and Johnson and Johnson. Research was conducted, and prototypes of the FLOW© device were developed from 2010, and the company was founded in 2012. FLOW© is actually the eighth-generation model of our unique and patent pending design.
        </p>
        <p class="p-top-30">
          We manufacture our system in our state-of-the-art, automated manufacturing facility in Miami, Florida, using 316-L Stainless Steel, to meet the highest material and production standards available.
        </p>
      </div>
    </div>

    <div class="row p-top-30">
      <div class="col-md-12 text-center" id="about-logos">
        <span><%= image_tag 'about1.png', :class => 'about-logo' %></span>
        <span><%= image_tag 'about2.png', :class => 'about-logo' %></span>
        <span><%= image_tag 'about3.png', :class => 'about-logo' %></span>
        <span><%= image_tag 'about4.png', :class => 'about-logo' %></span>
      </div>
    </div>

    <div class="row text-center p-top-30">
      <div class="col-md-12 p-left-30" id="stats">
        <ul class="stats-info list-unstyled list-inline">
          <li>
            <h2 class="f-brown">2 Years</h2>
            <p>Since We Started</p>
          </li>
          <li>
            <h2 class="f-blue" id="gallons-saved"></h2>
            <p>Gallons Saved</p>
          </li>
           <li>
            <h2 class="f-green" id="dollars-saved"></h2>
            <p>Dollars Saved</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>