<section id="faqs">
	<div style="background-color: #4193BF" >
		<br><br><br><br><br><br>

		<h1 style="text-align: center">
			THIS SECTION FOR FAQs.
		</h1>

		<br><br><br><br><br><br>
</div>
</section>