<section id="faqs">
  <div class="container">
    <div class="row text-center">
      <h1>FLOW FAQs</h1>
    </div>

    <div class="row" id="faq-questions">
      <div class="col-sm-12"> 
        <div class="question">
          <a href="#answer1" class="faq-toggle" data-toggle="collapse">
            1. DO I NEED TO GET PERMISSION FROM MY LOCAL UTILITY TO INSTALL FLOW?
          </a>

          <div id="answer1" class="collapse">
            <div class="answer justify">
              No. Our licensed, bonded plumbers will be responsible for meeting all local, county and state plumbing codes and requirements.
            </div>
          </div>
        </div>

        <div class="question">
          <a href="#answer2" class="faq-toggle" data-toggle="collapse">
            2. HOW MUCH DOES IT COST TO MAINTAIN FLOW?
          </a>

          <div id="answer2" class="collapse">
            <div class="answer justify">
              Once installed, there is absolutely no maintenance required. Ever.
            </div>
          </div>
        </div>

        <div class="question">
          <a href="#answer3" class="faq-toggle" data-toggle="collapse">
            3. HOW LONG WILL IT TAKE TO START WORKING?
          </a>

          <div id="answer3" class="collapse">
            <div class="answer justify">
              FLOW starts saving you money from the moment it is installed.
            </div>
          </div>
        </div>

        <div class="question">
          <a href="#answer4" class="faq-toggle" data-toggle="collapse">
            4. HOW WILL I KNOW IF FLOW IS WORKING?
          </a>

          <div id="answer4" class="collapse">
            <div class="answer justify">
              Just compare your monthly water / sewer bills for the same period from the previous year. You won’t believe the difference!
            </div>
          </div>
        </div>

        <div class="question">
          <a href="#answer5" class="faq-toggle" data-toggle="collapse">
            5. WILL FLOW AFFECT MY WATER PRESSURE?
          </a>

          <div id="answer5" class="collapse">
            <div class="answer justify">
              No. In both controlled tests by independent laboratories, as well as actual field tests of existing installations over the past few years, our FLOW system has been demonstrated to show no appreciable change in water pressure. 
            </div>
          </div>
        </div>

        <div class="question">
          <a href="#answer6" class="faq-toggle" data-toggle="collapse">
            6. WHAT IF IT STOPS WORKING OR BREAKS?
          </a>

          <div id="answer6" class="collapse">
            <div class="answer justify">
              In the very unlikely event that your FLOW device should stop working within 10 years of purchase, we will replace it at no cost to you.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>