<div class="hi desktop"></div>
<div class="slides">
  <div id="intro">
    <div class="slide-caption">
      <h1 class="desktop">Save
        <span class="txt-rotate" data-period="1500" data-rotate='[ "water.", "money.", "the planet."]'></span>
      </h1>

      <div class="contrast">
        <p>
          Flow is guaranteed to reduce your water bill and conserve the world's most valuable resource.
        </p>

        <p>
          <a class="btn btn-lg btn-green learn-more" id="learn-btn">Learn More</a>
        </p>
      </div>
    </div>
  </div>
</div>