<section id="partners" class="space">
  <div class="container">
    <div class="row text-center">
      <h3 class="f-white">
      	Partners
      </h3>

      <p class="f-white">
        We have developed an exciting rebate program for homeowners who order and purchase FLOW within the next sixty days.  At checkout, you can choose a $75.00 gift card from one of our rebate partners, who share our passion for preserving water - our planet’s most precious commodity.
      </p>

      <ul class="clients list-inline list-unstyled col-md-10 col-md-offset-1">
        <li>
          <%= image_tag 'partner1.png' %>
        </li>
        
        <li>
					<%= image_tag 'partner2.png' %>
        </li>

        <li>
          <%= image_tag 'partner3.png' %>
        </li>
      </ul>
    </div>
  </div>
</section>