<section class="service space" id="product">
  <div class="container">
    <div class="row">
      <div class="col-md-9 text-left">
        <h4 class="title-12">Our Product</h4>

        <h1>WHEN LESS IS MORE!</h1>

        <p class="intro">
        	Use less water, pay less for water bills, and do more to protect our most precious resource.  And you’ll achieve all this without sacrificing your normal water usage activities.
        </p>
      </div>
    </div>

    <div class="row0">
      <div class="col-md-4 text-left">
        <div class="service-box">
          <figure>
          	<img src="http://placehold.it/338x188" />
          </figure>
          
          <h3>Hand Crafted</h3>
          
          <p>
          	Improved and modified over eight years of testing and perfecting to achieve maximum flow efficiency.  Our customers have been saving on average over 25% on their annual water/sewer bills.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-box">
          <figure>
          	<img src="http://placehold.it/338x188" />
          </figure>

          <h3>Stainless Steel</h3>

          <p>
          	We use the highest quality surgical stainless steel to make sure savings last for years.  Once installed, it requires no maintenance, and is guaranteed for 15 years.
          </p>
        </div>
      </div>
			
			<div class="col-md-4">
        <div class="service-box">
          <figure>
						<img src="http://placehold.it/338x188" />
          </figure>

          <h3>Made in the USA</h3>
          
          <p>
          	Helping support the local economy in addition to the environment and your wallet.
          </p>
        </div>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="text-center">
        <figure>
          <img src="http://placehold.it/200x150&text=ISO+Image" />
        </figure>
      </div>
    </div>
  </div>
</section>