<section class="service space">
  <div class="container">
    <div class="row">
      <div class="col-md-9 text-left">
        <h4 class="title-12">Our Product</h4>

        <h1>A proprietary water technology
          <b>
						<span class="f-green">valve</span>
          </b>
        </h1>

        <p class="intro">
        	Reduces water consumption while preserving pressure and user experience. Want to learn more? See our <a href="/FAQ">FAQ</a>.
        </p>
      </div>
    </div>

    <div class="row p-top-50">
      <div class="col-md-4">
        <div class="service-box">
          <figure>
          	<%= image_tag 'product1.jpg', :class => "product-pics" %>
          </figure>
          
          <h3>Hand Crafted</h3>
          
          <p>
          	Custumized to maximize flow efficiency, helping savings average over 25%.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-box">
          <figure>
          	<%= image_tag 'product2.jpg', :class => "product-pics" %>
          </figure>

          <h3>Stainless Steel</h3>

          <p>
          	We use the highest quality materials to make sure savings last for years.
          </p>
        </div>
      </div>
			
			<div class="col-md-4">
        <div class="service-box">
          <figure>
						<%= image_tag 'product3.jpg', :class => "product-pics" %>
          </figure>

          <h3>Made in the USA</h3>
          
          <p>
          	Helping support the local economy in addition to the environment and your wallet.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>