<section id="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">START SAVING TODAY</h1>

        <p class="text-left justify">
          The sooner you order your FLOW water management system, the sooner you will start saving water and saving money.</p>

        <p class="text-left justify">
          We have three payment options available:
        </p>

        <ul class="f-black justify">
          <li>
            <strong>Instant credit and no payments for six months</strong>.<br>You'll be able to pay a large chunk of the cost just from the six months saved off your water bills!
          </li>

          <li>
            <strong>Pay in full with any major credit card</strong>, and recoup your full payment in as little as eight months!
          </li>

          <li>
            If you are a Paypal member, you can <strong>use your Paypal account</strong> right from our website.
          </li>
        </ul>

        <h3 class="text-center p-top-20">
          Join thousands of your neighbors and save money with FLOW.
        </h3>

        <div class="p-top-20 text-center">
          <%= link_to "Purchase Flow", page_path('checkout'), :class => "btn btn-blue", :id => "purchase-btn" %>
        </div>
      </div>
    </div>
  </div>
</section>