<section id="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">START SAVING TODAY</h1>

        <p class="text-left justify">
          We have several financing options available, some of which will allow you to enjoy the savings and benefits of FLOW without any initial payments.  Thereafter, depending upon average water and sewer bills, you should be able to make ongoing monthly payments from a portion of your monthly savings – making your FLOW purchase one of the best investments you'll ever make!
        </p>

        <p class="text-left justify">
          Available payment options:
        </p>

        <ul class="f-black justify">
          <li>
            <strong>Finance the entire purchase, with no money down and no initial payments</strong>. <span style="font-size: 12px;">(Subject to Credit Approval)</span>
          </li>

          <li>
            <strong>Pay in full with any major credit card</strong>.
          </li>

          <li>
            <strong>If you are a Paypal member, you can use your Paypal account right from our website.</strong>
          </li>
        </ul>

        <h3 class="text-center p-top-20">
          Join thousands of your neighbors and save money with FLOW.
        </h3>

        <div class="p-top-20 text-center">
          <%= link_to "Purchase Flow", page_path('checkout'), :class => "btn btn-blue", :id => "purchase-btn" %>
        </div>
      </div>
    </div>
  </div>
</section>