<section class="space" id="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>PayPal Payment Form</h1>

        <h2> *** Pricing Details *** </h2>
      </div>
    </div>

    <div class="row">
      <%= form_tag('/iframe', remote: true) do %>
        
        <h3>Customer Information</h3>
        <input name="customer[name]" placeholder="Name" required />
        <input name="customer[email]" placeholder="Email" required />
        
        <br>

        <h3>Installation Address</h3>
        <input name="shipping[street]" placeholder="Street Name" required />
        <input name="shipping[city]" placeholder="City" required />
        <input name="shipping[state]" placeholder="State" required />
        <input name="shipping[zip]" placeholder="Zip Code" required />
        
        <br>

        Same as Billing Address?
        <input type="checkbox" name="sameAs" value="true" /><br/>

        <h3>Billing Address</h3>
        <input name="billing[street]" placeholder="Street Name"  required />
        <input name="billing[city]" placeholder="City" required />
        <input name="billing[state]" placeholder="State" required />
        <input name="billing[zip]" placeholder="Zip Code" required />

        <br><br>

        <input type="submit" name="submit" value="Submit"/>

      <% end %>
    </div>

    <br><br>

    <div id="payflow-iframe">
    </div>

  </div>
</section>