<section class="space" id="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <p class="lead">
          <i>Lets work together and create something awesome.</i>
        </p>
        


        <%= form_tag('/iframe', remote: true) do %>
          <%= submit_tag "Submit Information" %>
        <% end %>


      </div>
    </div>
  </div>
</section>