<section id="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>Payment Form</h1>

        <h2> *** Pricing Details *** </h2>

        <%= link_to "Purchase Flow", page_path('checkout'), :class => "btn btn-blue navbar-btn pull-=== external", :id => "savings-btn" %>
      </div>
    </div>
  </div>
</section>