<section class="space" id="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <p class="lead">
          <i>Lets work together and create something awesome</i>
        </p>
        <p>
          <a href="contact.php" class="btn btn-lg btn-green">
            PayPal Purchase
          </a>
        </p>
      </div>
    </div>
  </div>
</section>