<section class="space" id="purchase">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h1>PayPal Payment Form</h1>

        <h2> *** Pricing Details *** </h2>

        <h2> <%= link_to 'Checkout', page_path('checkout') %> </h2>
      </div>
    </div>
  </div>
</section>