<section class="space process-space" id="savings">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="title-12">Savings</h4>

        <p>
          While we cannot guarantee how much you will save in water usage and monthly bills, we are confident that you will see average savings of 25% - based on your typical, historic usage.
        </p>

        <h2>
          How much does it cost?
        </h2>

        <p>
          Our standard retail price is $599.99, but because of incentives we have been offered, we can drop the price down to $499.99, which includes installation by a trained technician under the supervision of a bonded, state-licensed plumber (normally a $100-$150 cost).
        </p>

        <p>
          To see what your actual cost and projected savings are, use our handy water bill calculator:
        </p>
      </div>

      <div class="col-md-6 text-center">
        <%= render 'forms/calculator' %>
      </div>
    </div>
  </div>
</section>