<section id="savings">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 justify">
        <h4 class="title-12">Savings</h4>
        
        <h2>
          How much does it cost?
        </h2>

        <p>
          Actually, possibly nothing!  With the help of our financing partners, who are as passionately committed to saving water as we are, we have been able to develop a program which is virtually cost free!
        </p>

        <p>
          With average savings from FLOW exceeding 25% , and the typical homeowners water/sewer bill at $100 per month – you may very likely not have to come out of pocket to pay for the purchase and installation of FLOW.* In most cases, the savings and promotional incentives will exceed any required payments.
        </p>

        <p>
          Order now and start saving immediately upon installation!
        </p>

        <p>
          <h6>* Payments may vary depending on individual credit approval.</h6>
        </p>
      </div>

      <!-- <div class="col-md-6 col-md-offset-1 text-center">
        <%= render 'forms/calculator' %>
      </div> -->
    </div>
  </div>
</section>