<section id="savings">
  <div class="container">
    <div class="row">
      <div class="col-md-5 justify">
        <h4 class="title-12">Savings</h4>
        
        <h2>
          How much does it cost?
        </h2>

        <p>
          While we guarantee that you will save at least 15% in water usage and monthly bills, most of our customers have seen average savings of 25% or more - based on their typical, historic usage.
        </p>

        <p>
          The price for FLOW© is $499.99, which includes installation. Because of incentives we have been offered, we are able to provide a $50 gift card to you, which you will receive by mail after installation. Our installations are performed by a trained technician under the supervision of a bonded, state-licensed plumbing firm in your community. Each of our technicians has been required to complete an extensive training course to ensure that the installation process of FLOW© is performed flawlessly.
        </p>

        <p>
          To see what your actual cost and projected savings may be, use our handy water bill calculator.
        </p>
      </div>

      <div class="col-md-6 col-md-offset-1 text-center">
        <%= render 'forms/calculator' %>
      </div>
    </div>
  </div>
</section>