<section class="space process-space" id="process">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="title-12">Our Process</h4>

        <h1>
        	25%+ savings in 3 easy steps
        </h1>
      </div>
    </div>
   
    <div class="row  p-top-30">
      <div class="col-md-4 col-sm-4">
        <article class="et-wrapper">
          <div class="et-page et-page-opacity features-box et-page-current">
            <i class="fa fa-laptop"></i>

            <h3>Purchase Online</h3>

            <p>Flow costs a fixed $TBD/month.</p>
          </div>
        </article>
      </div>

      <div class="col-md-4 col-sm-4">
        <article class="et-wrapper">
          <div class="et-page features-box et-page-current">
            <i class="fa fa-wrench"></i>

            <h3>Installation</h3>

            <p>
            	A licensed and insured plumber will install the valve in your home at no extra cost.
            </p>
          </div>
        </article>
      </div>

      <div class="col-md-4 col-sm-4">
        <article class="et-wrapper">
          <div class="et-page features-box et-page-current">
            <i class="fa fa-dollar"></i>

            <h3>Start Saving!</h3>

            <p>Enjoy immediate savings.</p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>