<section id="savings">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 justify">
        <h4 class="title-12">Savings</h4>
        
        <h2>
          How much does it cost?
        </h2>

        <p>
          Actually, possibly nothing!  With the help of our financing partners, who are as passionately committed to saving water as we are, we have been able to develop a program which is virtually cost free!
        </p>

        <p>
          With average savings from FLOW exceeding 25% , and the typical homeowners water/sewer bill at $100 per month – you may very likely not have to come out of pocket to pay for the purchase and installation of FLOW.* In most cases, the savings and promotional incentives will exceed any required payments.
        </p>

        <p>
          Order now and start saving immediately upon installation!
        </p>

        <p>
          <h6>* Payments may vary depending on individual credit approval.</h6>
        </p>

        <h2>
          Testimonials
        </h2>

        <p class="bold italic p-top-10">
          "I am pleased to report a significant savings in our water bill since the installation of your device. With pressure unchanged, we look forward to continued savings over time." Larry, Miami FL
        <p>
        
        <p class="bold italic p-top-10">
          “I've had FLOW installed at my home for over a year now, and the water bill was reduced an average of 35%.  The installation process was very simple and the professional installer did it in 30 minutes. We haven't experienced any change in the supply or water pressure coming out of the faucets. Great product!!!" Alejandro, Ft. Lauderdale FL
        <p>

        <p class="bold italic p-top-10">
          “Have to admit I was skeptical at first, but after just a few months, our water bills have gone down over 25% - and this isn’t even the spring/summer, when we use so much more!  Definitely a good investment.” Amy,  Wellington FL
        <p>
      </div>

      <!-- <div class="col-md-6 col-md-offset-1 text-center">
        <%= render 'forms/calculator' %>
      </div> -->
    </div>
  </div>
</section>