<section class="service space-why" id="why">
  <div class="container">
    <div class="row text-left">
      <div class="col-md-12">
        <h4 class="title-12">
        	Why Flow
        </h4>

        <h1>Save 
          <b><span class="f-green">water</span></b>, 
          <b><span class="f-green2">money</span></b>, and 
          <b><span class="f-brown">the planet</span></b>.
        </h1>

        <p>
        	The average American household consumes around <strong class="f-black">127,500 gallons</strong> of water every 12 months, costing approximately <strong class="f-black">$1,200</strong> each year.
        </p>
      </div>
    </div>

    <div class="row p-top-30">
      <div class="col-md-4">
        <div class="service-box">

          <figure>
            <img src="http://placehold.it/338x188" />
          </figure>

          <h3>
            <span class="f-green">Save Water</span>
          </h3>

          <p class="text-center">
          	Decrease your water consumption by over 25%, saving tens of thousands of gallons of water each year.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-box">

          <figure>
          	<img src="http://placehold.it/338x188" />
          </figure>

          <h3>
            <span class="f-green2">Save Money</span>
          </h3>

          <p class="text-center">
          	Average savings of $300 per year. With water prices increasing, this number will continue to grow every year.
          </p>
        </div>
      </div>
			
			<div class="col-md-4">
        <div class="service-box">

          <figure>
          	<img src="http://placehold.it/338x188" />
          </figure>

          <h3>
            <span class="f-brown">Save The Planet</span>
          </h3>

          <p class="text-center">
          	In addition to saving water, donate a portion of all proceeds to worthy non-profit organizations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>