<section class="service space-why" id="why">
  <a name="why"></a>
  <div class="container">
    <div class="row">
      <div class="col-md-9 text-left">
        <h4 class="title-12">
        	Why Flow
        </h4>

        <h1>Save
          <b>
       			<span class="f-green">water</span>
          </b>, 
          <b>
       			<span class="f-green2">money</span>
          </b>
          , and
          <b>
       			<span class="f-brown">the planet</span>
          </b>
        </h1>

        <p class="intro">
        	The average American household consumes about 127,400 gallons of water during a year, costing approximately $1,200 each year.
        </p>

        <%= image_tag 'ticker.png', :class => 'ticker' %>
      </div>
    </div>

    <div class="row p-top-50">
      <div class="col-md-4">
        <div class="service-box">
          <figure>
          	<%= image_tag 'product1.jpg', :class => 'product-pics' %>
          </figure>

          <h3>
          	<span class="f-green">Save Water</span>
          </h3>

          <p>
          	Decrease your water consumption by over 25%, saving tens of thousands of gallons of water each year.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-box">
          <figure>
          	<%= image_tag 'product2.jpg', :class => 'product-pics' %>
          </figure>

          <h3>
          	<span class="f-green2">Save Money</span>
          </h3>

          <p>
          	Average savings of $300 per year. With water prices increasing this number will continue to grow every year.
          </p>
        </div>
      </div>
			
			<div class="col-md-4">
        <div class="service-box">
          <figure>
          	<%= image_tag 'product3.jpg', :class => 'product-pics' %>
          </figure>

          <h3>
          	<span class="f-brown">Save The Planet</span>
          </h3>

          <p>
          	In addition to saving water, we are donating 10% of all proceeds to a charity of your choice.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>