<section class="service space-why" id="why">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h4 class="title-12">
        	Why Flow
        </h4>

        <h1>Save 
          <b><span class="f-green">water</span></b>, 
          <b><span class="f-green2">money</span></b>, and 
          <b><span class="f-brown">the planet</span></b>.
        </h1>

        <p class="p-top-20">
        	The average American household consumes around <strong class="f-black">127,500 gallons</strong> of water every 12 months, costing approximately <strong class="f-black">$1,200</strong> each year.
        </p>
      </div>
    </div>

    <div class="row p-top-20">
      <div class="col-md-4">
        <div class="service-box">
          <h3>
            <span class="f-green">Save Water</span>
          </h3>

          <figure>
          	<%= image_tag 'why1.png', :class => 'product-pics' %>
          </figure>

          <p class="text-left p-top-20">
          	Decrease your water consumption by over <strong class="f-black">25%</strong>, saving tens of thousands of gallons of water each year.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-box">
          <h3>
            <span class="f-green2">Save Money</span>
          </h3>

          <figure>
          	<%= image_tag 'why2.png', :class => 'product-pics' %>
          </figure>

          <p class="text-left p-top-20">
          	Average savings of <strong class="f-black">$300</strong> per year. With water prices increasing, this number will continue to grow every year.
          </p>
        </div>
      </div>
			
			<div class="col-md-4">
        <div class="service-box">
          <h3>
            <span class="f-brown">Save The Planet</span>
          </h3>

          <figure>
          	<%= image_tag 'why3.png', :class => 'product-pics' %>
          </figure>

          <p class="text-left p-top-20">
          	In addition to saving water, donate a portion of all proceeds to worthy non-profit organizations.
          </p>
        </div>
      </div>
    </div>

    <div>
      <div>Water Facts</div>
      <div>
        <%= image_tag 'ticker.png', :class => 'ticker' %>
      </div>
    </div>
  </div>
</section>