<section class="service space-why" id="why">
  <div class="container">
    <div class="row text-left">
      <div class="col-md-12">
        <h4 class="title-12">
        	Why Flow
        </h4>

        <h1>Save 
          <b><span class="f-green">water</span></b>, 
          <b><span class="f-green2">money</span></b>, and 
          <b><span class="f-brown">the planet</span></b>.
        </h1>

        <p>
        	The average American household consumes around <strong class="f-black">127,500 gallons</strong> of water every 12 months, costing approximately <strong class="f-black">$1,200</strong> each year.
        </p>
      </div>
    </div>

    <div class="row p-top-30">
      <div class="col-md-4">
        <div class="service-box">

          <figure>
            <img src="http://placehold.it/338x188" />
          </figure>

          <h3>
            <span class="f-green">Save Water</span>
          </h3>

          <p class="text-center">
          	Decrease your water consumption by over 25%, saving tens of thousands of gallons of water each year.
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="service-box">

          <figure>
          	<img src="http://placehold.it/338x188" />
          </figure>

          <h3>
            <span class="f-green2">Save Money</span>
          </h3>

          <p class="text-center">
          	Average savings of $300 per year. With water prices increasing, this number will continue to grow every year.
          </p>
        </div>
      </div>
			
			<div class="col-md-4">
        <div class="service-box">

          <figure>
          	<img src="http://placehold.it/338x188" />
          </figure>

          <h3>
            <span class="f-brown">Save The Planet</span>
          </h3>

          <p class="text-center">
          	In addition to saving water, donate a portion of all proceeds to worthy non-profit organizations.
          </p>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div class="row col-md-12 p-top-20">
      <h1>Water Facts</h1>

      <div class="row col-md-12">
        <h4>Water and Earth</h4>

        <ul>
          <li>
            Three-quarters of the Earth's surface is covered with water, yet 98 percent is salt water and not fit for consumption.
          </li>
          
          <li>
            Less than one percent of all the water on Earth is freshwater available for human consumption.
          </li>
        </ul>
      </div>
      
      <div class="row col-md-12">
        <h4>Water and Humans</h4>

        <ul>
          <li>
            The human body is more than 60 percent water. Blood is 92 percent water, the brain and muscles are 75 percent water, and bones are about 22 percent water.</li>
          <li>
            A human can survive for a month or more without eating food, but only a week or so without drinking water.
          </li>
        </ul>
      </div>

      <div class="row col-md-12">
        <h4>Water Consumption</h4>

        <ul>
          <li>
            3.9 trillion gallons of water are consumed in the United States per month. (AWWA Journal, June 2006).
          </li>

          <li>
            The average American uses 176 gallons of water per day compared to 5 gallons of water the average African family uses each day. (www.water.org)
          </li>
        </ul>
      </div>

      <div class="row col-md-12">
        <h4>Water Prices</h4>

        <p>
          "The price of water is increasing--sometimes dramatically--throughout the world," writes Edwin Clark, II in Earth Policy Institutes's latest report. Over the past five years, municipal water rates have increased by an average of 27 percent in the United States, 45 percent in Australia, 50 percent in South Africa, and 58 percent in Canada. In Tunisia, the price of irrigation water increased fourfold over a decade. Yet consumers rarely pay the actual cost of water. In fact, many governments practically (and sometimes literally) give water away.
        </p>

        <p>
          The average American household consumes about 127,400 gallons of water during a year.
        </p>

        <ul>
          <li>
            Water is a finite resource, even though about 70 percent of the Earth's surface is covered by water, less than 1 percent is available for human use.
          </li>

          <li>
            At least 36 states are projecting water shortages between now and 2015.
          </li>

          <li>
            Each American uses an average of 100 gallons of water a day at home.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="divider1">
  </div>
</section>