<%= form_tag('/iframe', remote: true) do %>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="row">
        <h3 class="text-center f-brown bolder">Customer Information</h3>
        <div class="row bolder f-black p-top-10">
          <div class="col-md-3">
            First Name:
          </div>

          <div class="col-md-3">
            <input name="customer[fname]" placeholder="John" required />
          </div>
        </div>

        <div class="row bolder f-black p-top-10">
          <div class="col-md-3">
            Last Name:
          </div>

          <div class="col-md-3">
            <input name="customer[lname]" placeholder="Smith" required />
          </div>
        </div>

        <div class="row bolder f-black p-top-10">
          <div class="col-md-3">
            Email:
          </div>

          <div class="col-md-3">
            <input name="customer[email]" placeholder="john.smith@gmail.com" required />
          </div>
        </div>

        <div class="row bolder f-black p-top-10">
          <div class="col-md-3">
            Phone #:
          </div>

          <div class="col-md-3">
            <input name="customer[phone]" placeholder="504-676-4841" required />
          </div>
        </div>
      </div>

      <div class="row">
        <h3 class="text-center f-green bolder">Cost of FLOW</h3>

        <div class="col-md-4 text-center">
          <div class="text-center p-top-10">
            <p>
              MSRP: <span class="bold" id="flow-cost">$599.99</span>
            </p>
          </div>
        </div>

        <div class="col-md-8 text-center">
          <input id="coupon-input" type="text" name="couponcode" placeholder="Enter Coupon Code">
          <input id="coupon-btn"  class="btn btn-green" type="submit" value="Enter">
        </div>
      </div>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <div class="row">
        <h3 class="text-center f-blue bolder">Billing Address</h3>

        <div class="row bolder f-black p-top-10">
          <div class="col-md-3">
            Street:
          </div>

          <div class="col-md-3">
            <input name="billing[street]" required />
          </div>
        </div>

        <div class="row bolder f-black p-top-10">
          <div class="col-md-3">
            City:
          </div>

          <div class="col-md-3">
            <input name="billing[city]" required />
          </div>
        </div>

        <div class="row bolder f-black p-top-10">
          <div class="col-md-3">
            State:
          </div>

          <div class="col-md-3">
            <%= render 'forms/state_picker', locals: {name: 'billing[state]'} %>
          </div>
        </div>

        <div class="row bolder f-black p-top-10">
          <div class="col-md-3">
            Zip Code:
          </div>

          <div class="col-md-3">
            <input name="billing[zip]" required />
          </div>
        </div>
      </div>

      <div class="row">
        <h3 class="text-center f-blue bolder">Installation Address</h3>
      
        <div class="text-center p-top-20">
          <p><strong>Same as Billing Address?</strong> <input type="checkbox" name="sameAs" id="installation-checkbox" style="margin-left: 20px;" checked/> </p>
        </div>

        <div class="row" id="shipping-address" style="display:none;">
          <div class="row bolder f-black p-top-10">
            <div class="col-md-3">
              Street:
            </div>

            <div class="col-md-3">
              <input name="shipping[street]" />
            </div>
          </div>

          <div class="row bolder f-black p-top-10">
            <div class="col-md-3">
              City:
            </div>

            <div class="col-md-3">
              <input name="shipping[city]" />
            </div>
          </div>

          <div class="row bolder f-black p-top-10">
            <div class="col-md-3">
              State:
            </div>

            <div class="col-md-3">
              <%= render 'forms/state_picker', locals: {name: 'shipping[state]'} %>
            </div>
          </div>

          <div class="row bolder f-black p-top-10">
            <div class="col-md-3">
              Zip Code:
            </div>

            <div class="col-md-3">
              <input name="shipping[zip]" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center p-top-50">
    <input type="submit" name="submit" value="Submit Information" class="btn btn-blue" id="submit-btn"/>
  </div>

<% end %>

<div class="row text-center p-top-30">
  <div id="payflow-comments">
  </div>
</div>

<div class="row text-center p-top-30">
  <div id="payflow-iframe">
  </div>
</div>
