// Custom styling.

.main-logo {
  width: 100px !important;
  position: fixed;
  right: 20px;
  top: 20px;
}

.hi {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 40px;
  background: url(Flow-logo2.png) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.start-saving {
  float: left;
}

.learn-more {
  margin-left: 20px;
  background: rgba(65, 147, 191, 0.3);
}

.learn-more:hover {
  background: rgba(65, 147, 191, 0.4);
}

.referral-icon {
  font-size: 40px;
  padding: 0 20px;
  padding-top: 30px;
 }

.ticker {
  padding-top: 20px;
  margin: -10px;
 }