// Override Kendo Theme styles.

body {
  font-size: 18px;
}

.f-green2 { color: #95ce53 } /*GREEN*/
.f-brown  { color: #A5998E } /*BROWN*/

.process-space { 
  padding: 150px 0
}

.service-box {
  text-align: center;

  img { 
    width: 100%;
    max-width: 400px;
    border-radius: 4px; 
  }
}

.space-why 			{ padding: 120px 0; border-top: 1px solid #eee }
.process-space 	{ padding: 120px 0; }
.process-margin { margin-top: 50px; }

#process {
  background: url(background5.1.jpg) center center;
  -webkit-background-size: cover; -moz-background-size:cover;
  -o-background-size: cover; background-size:cover;
}

.features-box {
  background-color: #FFF;

  h3 {
    color: #4193BF;
    font-size: 16px;
    font-weight: bold;
  }

  i {
    color: #4193BF;
  }
}

#clients  { background: url(clients.jpg); }
#clients2 { background: url(background6.jpg); }

#clients, #clients2 {
	-webkit-background-size: cover; -moz-background-size:cover;
 	-o-background-size: cover; background-size:cover;

  h3 {
    padding-bottom: 5px;
    padding-top: 0;
  }

  ul li img {
    height: auto;
    margin: 0 auto;
    width: 250px;
  }
}

#cta-contact {
  background: #FFF;
  padding: 130px 0;
 }

footer {
  padding-top: 0px;
  padding-bottom: 30px;
}

// Mobile Web Media Queries

@media screen and (max-width: 410px) { 
  .learn-more {
    margin-left: 0px;
    margin-top: 20px;
  }
  .desktop { display: none }
}