// *******************
// * General Styling *
// *******************

p {
  color: #444;
}

h1 {
  font-size: 44px;
}

h4 {
  font-size: 22px;
}

.bolder {
  font-weight: bolder;
}

.justify {
  text-align: justify;
  direction: ltr;
}

.title-12 {
  text-align: left;
  font-size: 14px;
}

.f-black {
  color: black;
}

.divider {
  border-bottom: 1px solid #EEEEEE;
  margin-top: 50px;
  margin-bottom: 20px; 
  width: 100%;
}

#top-nav, #savings-btn {
  margin-top: 10px;
}

// ********************
// * Section Specific *
// ********************

#intro {
  height: 780px;

  background: url(asset-path('background3.1.jpg', image)) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.slide-caption {
    left: 100px;
    max-width: 800px;
    padding: 10px 20px;
    position: relative;
    top: 25%;
    width: 800px;
    z-index: 3;
}

section {
  padding: 60px 0px;
}

section#product {
  background: url(asset-path('light-background-1.png', image)) center center;
  background-size: cover;
  color: #fff;
}

section#faqs {
  background: url(asset-path('light-background-2.png', image)); 
  background-size: cover;
  color: #fff;
}

section#product .f-white {
  color: white;
}

.start-saving {
  float: left;
}

.learn-more { 
  background: rgba(65, 147, 191, 0.3);
}

.learn-more:hover {
  background: rgba(65, 147, 191, 0.4);
}

.service-box {
  text-align: center;
}

.main-logo {
  width: 100px !important;
  position: fixed;
  right: 20px;
  top: 20px;
}

.hi {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 30px;
  right: 40px;
  background: url(asset-path('flow2.png', image)) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.divider1 {
  height: 400px;
  background: url(asset-path('divider1.png', image)) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ticker {
  padding-top: 20px;
  margin: -10px;
}

.referral-icon {
  font-size: 40px;
  padding: 0 20px;
  padding-top: 30px;
}

#purchase i { font-size: 25px }

#about-title {
  text-align: center;
}

#ansi {
  height: 115px;
  width:  165px;
}

#nsf {
  height: 125px;
  width:  125px;
}

.stats-info.list-unstyled.list-inline li {
  margin: 0;
}

#calc-btn {
  font-size: 20px;
  font-variant: small-caps;
}

.question {
  padding: 10px 0px;
  font-weight: bolder;
  font-size: 22px;

  .faq-toggle {
  }

  div.collapse, div.collapsing, div.in {
    color: black;
  }

  div.answer {
    padding-top: 10px;
  }
}

.b-close{
  border-radius: 7px;
  font: bold 100% sans-serif;
  padding: 0 6px 2px;
  background-color: #4193BF;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
}

// **************
// * Mobile Web *
// **************

@media screen and (max-width: 410px) { 
  .learn-more {
    margin-left: 0px;
    margin-top: 20px;
  }

  .desktop { display: none }

  #intro {
    height: 400px;
  }

  #stats {
    padding-left: 0px;
  }

  .slide-caption {
    left: 0;
    width: 90%;
    height: 50%;
    padding: 10px 20px;
    position: relative;
    top: 5%;
    z-index: 3;
  }
}